<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKzTr_4PtSmAg6VpNbq1vbP2EfaGolrrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>321853221202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prince.Test1</string>
	<key>PROJECT_ID</key>
	<string>news-app-1fa90</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-1fa90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321853221202:ios:f50d48d497498bb9e0f28b</string>
</dict>
</plist>